@mixin animation-properties($name, $delay, $duration, $fillMode: both, $opacity: null) {
  animation-name: $name;
  animation-delay: $delay;
  animation-duration: $duration;
  animation-fill-mode: $fillMode;
  opacity: $opacity;
}

@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin flex-center-column {
  @include flex-center;
  flex-direction: column;
}
