@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;

.frame {
  @include flex-center;
  z-index: 2;
  button,
  div {
    position: absolute;
    border: none;
    background-color: transparent;
    font-family: $font-primary;
    font-size: 1rem;
    line-height: 1rem;
    padding: 0.25rem 2rem 0.75rem 2rem;
  }
  .dayButton {
    cursor: pointer !important;
    color: $black;
  }
  img {
    max-width: 100%;
    max-height: 100%;
  }
}
